extends layout

block content
  h1= title
  p Hello #{title} !
  p.
    Incididunt si quibusdam. Incurreret eu legam non ubi in praetermissum. Duis
    excepteur non familiaritatem, quorum nescius nostrud si ab hic minim singulis o
    quis et arbitror. Minim nam eiusmod nam tamen tempor te laboris, ex excepteur
    fidelissimae est irure appellat aliquip. Aliqua officia praesentibus. Sed quem
    ex culpa do ubi quem mandaremus exercitation, incurreret velit litteris
    arbitror, ingeniis labore cillum et cillum. E illum dolore te doctrina, ubi quid
    ullamco despicationes.
  p.
    Irure appellat deserunt, e quem legam do consequat non admodum fore minim
    mentitum varias quo iis quid fabulas sempiternum, nisi despicationes consequat
    sunt iudicem, quo duis sunt et aliquip id possumus sed summis, aut legam
    fidelissimae. Dolor et admodum. Id e fore anim malis et malis te qui fugiat
    possumus. Ea quem appellat sed eram possumus do voluptate, dolore do et aliqua
    voluptate aut hic excepteur ea laborum, incididunt labore quid laboris veniam ne
    appellat est quid ad ut non irure ullamco a id tamen quid aut singulis. Sunt
    distinguantur possumus nulla singulis hic elit ea in varias mentitum. Illum te
    si aliqua probant.
  p.
    Est ad veniam veniam quae, et dolore id aliqua. Nostrud lorem aliquip. Cillum
    incididunt ita possumus. Multos pariatur si fabulas, nulla cernantur
    praesentibus, si ipsum iis tamen iis incurreret fugiat proident non aute iis
    consequat se summis ita se non consectetur et e ne imitarentur, et voluptate
    domesticarum. Iis ad esse sunt amet quo culpa e pariatur quo aliqua, qui ullamco
    firmissimum, aliquip sint senserit expetendis de varias laborum ad quorum eram
    id velit concursionibus singulis nisi ullamco, hic ad velit illum enim, mentitum
    sunt cernantur. Sint pariatur singulis. O incididunt fidelissimae, sint ad
    litteris, irure hic a quis expetendis ex de ipsum non cillum.
